[submodule "uboot"]
	path = uboot
	url = https://github.com/405250553/u-boot
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/405250553/buildroot.git
	branch = f1c100s-2019.05.x
[submodule "linux"]
	path = linux
	url = https://github.com/405250553/linux.git
