[submodule "buildroot"]
	path = buildroot
	url = git://git.busybox.net/buildroot
[submodule "uboot"]
	path = uboot
	url = https://github.com/405250553/u-boot
[submodule "linux"]
	path = linux
	url = git@github.com:405250553/linux.git
